.about-the-musicians {
    padding: 40px;
}
.band-photo {
    padding inline: 100px;
}
.bandsite-logo {
    justify-content: center;
}
.navbar {
    justify-content: center;
}
.bio-blurb {
    text-wrap: wrap;
}
.photo-gallery {
    padding-inline: 100px;
}
.photo-band {
    
}

.footer-container {

}
.socialmedia{
    box
}